
body {
    background-color: var(--back);

    position: fixed;
    inset: 0;

    display: flex;
    flex-direction: column;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1;
}

.row,
.column {
    position: relative;
    display: flex;
    justify-content: center;
}
.column {
    flex-direction: column;
}

#canvas {
    image-rendering: pixelated;

    background: var(--back-light);
    border-radius: 10px;
}

#temp-bar {
    display: flex;

    margin-bottom: 10px;
    margin-right: 10px;

    max-width: 50px;
    height: 40px;

    background: var(--back-light);
    border-radius: 10px;

    > input {
        flex: 1;
        min-width: 0;
        padding: 0;

        background: none;
        border: none;
        color: var(--text);

        text-align: center;
    }
}

#particle-bar {
    display: flex;
    flex-direction: column;

    margin-right: 10px;

    width: 50px;
    flex: 1;

    background: var(--back-light);
    border-radius: 10px;

    > button {
        height: 50px;

        border: none;
        border-radius: 10px;
        background: var(--prim);
        color: var(--text);

        transition: background .1s;
    }
    > button:hover {
        background: var(--prim-light);
        transition: background .05s;
    }
    > button:active {
        background: var(--back-light);
    }
}

#topbar {
    display: flex;
    gap: 10px;

    margin-bottom: 10px;

    > div {
        display: flex;
        gap: 10px;
        padding: 10px;
        background: var(--back-light);
        border-radius: 10px;

        color: var(--text);
    }
}
